.gym-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gym-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.gym-title {
  font-size: 36px;
  font-weight: 500;
}

.gym-address {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gym-price-highlight {
  color: #008009;
  font-weight: 500;
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.gym-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.gym-details-texts {
  flex: 3;
}

.gym-details-price {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gym-details-price > h1 {
  font-size: 18px;
  color: #555;
}

.gym-details-price > span {
  font-size: 14px;
}

.gym-details-price > h2 {
  font-weight: 300;
}

.gym-details-price > button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
